html{
    font-family: 'Heebo', sans-serif;
}

form {
    display: inline;
}

.sidebar-home{
    position: absolute;
    left:0; top:0px; bottom: 0;
    width: 230px;
    border: none;
    background: #f1f1f1;
    padding: 20px;
    margin: 0px;
    height:100vh;
}

.sidebar-home nav h3{
    font-size:18px;
    color: #6e6e6e;
    display:inline-block;
}

.sidebar-home nav .logo{
    height:53px;
    width:53px;
    float: left;
    margin-left:15px;
    margin-right:10px;
}

.sidebar-home nav .avatar{
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.logButton{
    text-align:center;
}
.sidebar-home nav input{
    border:none;
    border-radius:5px;
    background: #698ff0;
    width: 175px;
    height: 30px;
    color: white;
    font-weight: medium;
    font-size:14px;
    cursor: pointer;
}

.sidebar-home nav input:hover{
    background: white;
    color: #698ff0;
    border: none;
    border:solid 2px;
    border-color:#698ff0;
}

.sidebar-home .sidebar-upload{
    text-align: center;
    color: #6e6e6e;
    border:solid;
    border-color: #e0e0e0;
    border-width: 1.5px;
    border-radius: 5px;
    padding:20px;
    padding-top:40px;
    padding-bottom:40px;
    margin-top:100px;
}

.info-home{
    position: absolute;
    left:300px; top:0px; right:0; bottom:0;
    width: 110vh;
    height: 100vh;
    padding: 20px;
    background-color: white;
}

.info-home h3{
    font-size: 15px;
}

.info-home h6{
    font-size: 12px;
    color:#929292;
}

.info-home hr{
    margin-top:-20px;
    margin-left:0px;
    border: none;
    border: solid;
    width: 100%;
    border-width: 0.5px;
    color: #cccaca;
}

.info-home main{
    font-size: 13px;
}

.info-home main .align-button{
    float:right;
}

.home-upload{
    position: absolute;
    left:1230px; top:0px; bottom: 0;
    width: 230px;
    margin: 0px;
}

.home-upload input[type="submit"]{
    border:none;
    border-radius:5px;
    background: #698ff0;
    width: 175px;
    height: 30px;
    color: white;
    font-weight: medium;
    font-size:14px;
    cursor: pointer;
}

.home-upload input[type="submit"]:hover{
    background: white;
    color: #698ff0;
    border: none;
    border:solid 2px;
    border-color:#698ff0;
}